main{
  display: flex;
  height: 100vh;/*vh = vertical height*/
}
/*best practice to divide the page into 12 */
#list{
  background-color: aqua;
  flex: 6;/*number = page divided*/

}

#form{
  background-color: beige;
  flex: 6;

}
.task{
  margin: 10px 20px;
  padding: 10px;
  display: flex;
  border: 1px solid #333;
}

.task .info {
  flex: 3;
}

.task .status{
  flex: 1;
}

.task .dateBudget{
  flex: 1;
}